.archive/
.vscode/
.vstags

buienradar_rain_example.pl
domoticz.conf
download_update.sh
install.sh
readme.txt
restart_domoticz
update_domoticz
_domoticz_main
_domoticz_main.bat

!dzVents/
dzVents/*
!dzVents/scripts/
dzVents/scripts/README.md

logrotate/
lua/
lua_parsers/

perl/ping.s3db

__pycache__
!python/
python/*
!python/monit
!python/tado
!python/report_crash.py
!python/uptime_domoticzpi.py

shell/nas.sh

templates/
